{% extends 'base.html.twig' %}

{% block title %}Allergy{% endblock %}

{% block body %}
    <h1>Allergy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ allergy.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ allergy.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('allergy_index') }}">back to list</a>

    <a href="{{ path('allergy_edit', {'id': allergy.id}) }}">edit</a>

    {{ include('allergy/_delete_form.html.twig') }}
{% endblock %}
