{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}

    <div class="card">
    <div class="header">
        <h4 class="title">Information</h4>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ information.cin }}</td>
            </tr>
            <tr>
                <th>Municipality</th>
                <td>{{ information.country }}</td>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
    <div class="card bootstrap-table">
        <div class="header">
            <h4 class="title ml-3">Recommandation</h4>
        </div>
        <div class="content">
            <table id="bootstrap-table" class="table">
                <thead>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Picture</th>
                <th data-field="name" data-sortable="true">FirstName</th>
                <th data-field="name" data-sortable="true">LastName</th>
                <th data-field="name" data-sortable="true">phoneNumber</th>
                </thead>
                <tbody>

                {% for Volunteer in volunteers %}

                    <tr>
                        <td></td>
                        <td>
                            <img class="volunteer img-thumbnail" src="{{ asset('uploads/pictures/' ~ Volunteer.picture) }}"
                                 alt="{{ Volunteer.lastName }}"></td>
                        <td>{{ Volunteer.lastName }}</td>
                        <td>{{ Volunteer.firstName }}</td>
                        <td>{{ Volunteer.phoneNumber }}</td>
                        <td></td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



