{% extends 'base.html.twig' %}

{% block title %}Voluntary index{% endblock %}

{% block body %}
    <h1>Voluntary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Country</th>
                <th>PhoneNumber</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voluntary in voluntaries %}
            <tr>
                <td>{{ voluntary.id }}</td>
                <td>{{ voluntary.firstName }}</td>
                <td>{{ voluntary.lastName }}</td>
                <td>{{ voluntary.country }}</td>
                <td>{{ voluntary.phoneNumber }}</td>
                <td>{{ voluntary.picture }}</td>
                <td>
                    <a href="{{ path('voluntary_show', {'id': voluntary.id}) }}">show</a>
                    <a href="{{ path('voluntary_edit', {'id': voluntary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voluntary_new') }}">Create new</a>
{% endblock %}
