{% extends 'base.html.twig' %}

{% block title %}Voluntary{% endblock %}

{% block body %}
    <h1>Voluntary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voluntary.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ voluntary.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ voluntary.lastName }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ voluntary.country }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ voluntary.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ voluntary.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voluntary_index') }}">back to list</a>

    <a href="{{ path('voluntary_edit', {'id': voluntary.id}) }}">edit</a>

    {{ include('voluntary/_delete_form.html.twig') }}
{% endblock %}
