{% extends 'superBase.html.twig' %}

{% block title %}Hospital index{% endblock %}

{% block body %}
    <h1>Hospital index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Adress</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td>{{ hospital.id }}</td>
                <td>{{ hospital.name }}</td>
                <td>{{ hospital.capacity }}</td>
                <td>{{ hospital.adress }}</td>
                <td>
                    <a href="{{ path('hospital_show', {'id': hospital.id}) }}">show</a>
                    <a href="{{ path('hospital_edit', {'id': hospital.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hospital_new') }}">Create new</a>
{% endblock %}
