{% extends 'base.html.twig' %}

{% block title %}Sickness index{% endblock %}

{% block body %}
    <div class="card bootstrap-table">
        <div class="header">
            <h4 class="title">Sickness index</h4>
            <table id="bootstrap-table" class="table">
                <thead>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                data-formatter="operateFormatter">Actions
                </th>
                </thead>
                <tbody>
                {% for sickness in sicknesses %}
                    <tr>
                        <td></td>
                        <td>{{ sickness.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('sickness_show', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">show</a>
                            <a href="{{ path('sickness_edit', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">Edit</a>
                            <a href="{{ path('sickness_delete', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="footer container-fluid">
                <a href="{{ path('sickness_new') }}" class="btn btn-outline-dark dataTableLink btn-sm">Create new
                 sickness</a>
            </div>
        </div>
    </div>
{% endblock %}