{% extends 'base.html.twig' %}

{% block title %}Sickness index{% endblock %}

{% block body %}
    <h1>Sickness index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sickness in sicknesses %}
            <tr>
                <td>{{ sickness.id }}</td>
                <td>{{ sickness.name }}</td>
                <td>
                    <a href="{{ path('sickness_show', {'id': sickness.id}) }}">show</a>
                    <a href="{{ path('sickness_edit', {'id': sickness.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sickness_new') }}">Create new</a>
{% endblock %}
