{% extends 'base.html.twig' %}

{% block title %}Sickness index{% endblock %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">Sickness index</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sickness in sicknesses %}
                    <tr>
                        <td>{{ sickness.id }}</td>
                        <td>{{ sickness.name }}</td>
                        <td>
                            <a href="{{ path('sickness_show', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">show</a>
                            <a href="{{ path('sickness_edit', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">edit</a>
                            <a href="{{ path('sickness_delete', {'id': sickness.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="footer container-fluid">
                <a href="{{ path('sickness_new') }}" class="btn btn-outline-dark dataTableLink btn-sm">Create new
                    sickness</a>
            </div>
        </div>
    </div>
{% endblock %}