{% extends "baseFront.html.twig" %}
{% block  body%}
<!--Features Section One-->
<section class="features-section-one">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon">
                <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
            </div>
            <h2>Contagion Coronavirus</h2>
            <div class="text">Consequatur molestiae, eligendi molestias ratione voluptas aliquid praesentium, dolorem doloribus, deleniti <br>officia numquam optio sunt eveniet consequuntur laboriosam at non ullam provident</div>
        </div>
        <div class="row clearfix">
            <!-- Feature Block One -->
            <div class="feature-block-one col-lg-4">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon"><img src="{{ asset('assets/Front/images/icons/1.png') }}" alt="" /></span>
                        </div>
                        <h3><a href="#">Human Contact</a></h3>
                        <div class="text">Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus.</div>
                    </div>
                </div>
            </div>

            <!-- Feature Block One -->
            <div class="feature-block-one col-lg-4">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon"><img src="{{ asset('assets/Front/images/icons/2.png') }}" alt="" /></span>
                        </div>
                        <h3><a href="#">Air Transmission</a></h3>
                        <div class="text">How easily a virus spreads from person-to-person can vary, Some viruses are highly contagious.</div>
                    </div>
                </div>
            </div>

            <!-- Feature Block One -->
            <div class="feature-block-one col-lg-4">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon"><img src="{{ asset('assets/Front/images/icons/3.png') }}" alt="" /></span>
                        </div>
                        <h3><a href="#">Contaminated Objects</a></h3>
                        <div class="text">Restaurants, grocery stores, food processing plants, even your own home—food contamination can happen.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Features Section-->

<!--Symptoms Section-->
<section class="symptoms-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Column-->
            <div class="content-column col-lg-7 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <div class="title-icon">
                            <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
                        </div>
                        <div class="title">About Coronavirus</div>
                        <h2>Coronavirus Symptroms</h2>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis sequi delectus, maxime, voluptatum minima nam consectetur explicabo doloremque nihil fugiat quibusdam aut dolor temporibus saepe deserunt id ducimus eaque.</p>
                    </div>
                    <ul class="list-style-two mb-4">
                        <li>Headache & Sore Throat</li>
                        <li>Shortness Of Breath</li>
                        <li>Shaking Chills</li>
                        <li>Dhiarrea</li>
                        <li>Fever</li>
                        <li>Cough</li>
                    </ul>
                    <a href="about.html" class="theme-btn btn-style-three"><span class="txt">learn more</span></a>
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="{{ asset('assets/Front/images/resource/image-2.png') }}" data-fancybox="rule" data-caption=""><img src="images/resource/image-2.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Rules Section-->

<!--Features Section Two-->
<section class="features-section-two">
    <div class="outer-container">
        <div class="clearfix">

            <!--Content Column-->
            <div class="content-column">
                <div class="inner-column">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <div class="title-icon">
                            <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
                        </div>
                        <div class="title">How To Protect Ourselves and Others</div>
                        <h2>Stay informed and follow advice given by your healthcare provider</h2>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis sequi delectus, maxime, voluptatum minima nam consectetur explicabo doloremque nihil fugiat quibusdam aut dolor temporibus saepe deserunt id ducimus eaque.</p>
                        <p>Libero perspiciatis sequi delectus, maxime, voluptatum minima nam consectetur explicabo doloremque nihil fugiat quibusdam aut dolor.</p>
                    </div>
                    <!-- List Style One -->
                    <ul class="list-style-two">
                        <li>Share the latest facts & avoid hyperbole</li>
                        <li>Show solidarity with affected people</li>
                        <li>Tell the stories of people who have experienced</li>
                    </ul>
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column wow fadeInRight">
                <div class="inner-column clearfix">
                    <div class="big-image">
                        <img src="{{ asset('assets/Front/images/resource/image-1.png') }}" alt="" />
                        <div class="small-image">
                            <img src="{{ asset('assets/Front/images/resource/image-5.png') }}" alt="" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Seo Section-->

<!--Features Section Four-->
<section class="features-section-four">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon">
                <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
            </div>
            <h2>Prevention Coronavirus</h2>
            <div class="text">Consequatur molestiae, eligendi molestias ratione voluptas aliquid praesentium, dolorem doloribus, deleniti <br>officia numquam optio sunt eveniet consequuntur laboriosam at non ullam provident</div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6">
                <ul class="accordion-box mb-30">
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-right"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>what is a coronavirus and COVID-19?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">Nostrud exercitation ullamco laboris nisi ut aliquip aute irure dolor indy reprehenderit in voluptate velit esse cillum dole Veniam quis nul pariatur excepteur sint nulla ipsum occaecat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-right"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>how is this coronavirus spread?</div>
                        <div class="acc-content current">
                            <div class="content">
                                <div class="text">Nostrud exercitation ullamco laboris nisi ut aliquip aute irure dolor indy reprehenderit in voluptate velit esse cillum dole Veniam quis nul pariatur excepteur sint nulla ipsum occaecat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-right"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>what are the symptoms of COVID-19?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">Nostrud exercitation ullamco laboris nisi ut aliquip aute irure dolor indy reprehenderit in voluptate velit esse cillum dole Veniam quis nul pariatur excepteur sint nulla ipsum occaecat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-right"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>what do I do if I develop symptoms?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">Nostrud exercitation ullamco laboris nisi ut aliquip aute irure dolor indy reprehenderit in voluptate velit esse cillum dole Veniam quis nul pariatur excepteur sint nulla ipsum occaecat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-right"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>should I be tested for COVID-19?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="text">Nostrud exercitation ullamco laboris nisi ut aliquip aute irure dolor indy reprehenderit in voluptate velit esse cillum dole Veniam quis nul pariatur excepteur sint nulla ipsum occaecat.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- End Block -->
                </ul>
            </div>
            <div class="col-lg-6">
                <!-- Services Block Four -->
                <div class="feature-block-four">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="{{ asset('assets/Front/images/icons/4.png') }}" alt="" /></span>
                            </div>
                            <h3><a href="services-full.html">Hand Washing</a></h3>
                            <div class="text">Wash your hands, wash your hands, wash your hands. That splash-under-water flick won’t cut it anymore.</div>
                        </div>
                    </div>
                </div>

                <!-- Services Block Four -->
                <div class="feature-block-four">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="{{ asset('assets/Front/images/icons/5.png') }}" alt="" /></span>
                            </div>
                            <h3><a href="services-full.html">Use Mask</a></h3>
                            <div class="text">Face masks have become a symbol of coronavirus, but stockpiling them might do more harm than good.</div>
                        </div>
                    </div>
                </div>

                <!-- Services Block Four -->
                <div class="feature-block-four">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="{{ asset('assets/Front/images/icons/6.png') }}" alt="" /></span>
                            </div>
                            <h3><a href="services-full.html">Avoid Animals</a></h3>
                            <div class="text">Coronaviruses are common in several species of domestic and wild animals, including cattle, dogs, cats.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Features Section-->

<!--Team Section-->
<section class="team-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon">
                <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
            </div>
            <h2>Coronavirus Specialist</h2>
            <div class="text">Consequatur molestiae, eligendi molestias ratione voluptas aliquid praesentium, dolorem doloribus, deleniti <br>officia numquam optio sunt eveniet consequuntur laboriosam at non ullam provident</div>
        </div>

        <div class="row clearfix">

            <!--Team Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="team.html"><img src="{{ asset('assets/Front/images/resource/team-1.jpg') }}" alt="" title=""></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="team.html">Peter Thomas</a></h3>
                        <div class="designation">Seneor Consultant</div>
                        <ul class="social-box">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Team Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="team.html"><img src="{{ asset('assets/Front/images/resource/team-2.jpg') }}" alt="" title=""></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="team.html">Elizabeth Nelson</a></h3>
                        <div class="designation">Senior Virus Expert</div>
                        <ul class="social-box">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Team Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="team.html"><img src="{{ asset('assets/Front/images/resource/team-3.jpg') }}" alt="" title=""></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="team.html">Richard Smith</a></h3>
                        <div class="designation">Seneor Consultant</div>
                        <ul class="social-box">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Team Section-->

<!--Experts Section-->
<section class="experts-section">
    <!--Title Box-->
    <div class="title-box" style="background-image:url(images/background/2.jpg)">
        <div class="auto-container">
            <h2>Quick Spread Coronavirus</h2>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quisquam, in mollitia. Adipisci laboriosam ratione alias consectetur assumenda vel qui reprehenderit</div>
        </div>
    </div>

    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!--Expert Block-->
                <div class="expert-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="{{ asset('asets/images/icons/7.png') }}" alt="" title="">
                        </div>
                        <div class="lower-content">
                            <h3>From Close Contact With an Infected Person</h3>
                            <div class="text">Immersion along the information for highway will close the loop on focusing strategies to ensure proactive.</div>
                        </div>
                    </div>
                </div>

                <!--Expert Block-->
                <div class="expert-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="{{ asset('assets/Front/images/icons/8.png') }}" alt="" title="">
                        </div>
                        <div class="lower-content">
                            <h3>Droplets From Infected Person’s Cough or Sneeze</h3>
                            <div class="text">Immersion along the information for highway will close the loop on focusing strategies to ensure proactive.</div>
                        </div>
                    </div>
                </div>

                <!--Expert Block-->
                <div class="expert-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="{{ asset('assets/Front/images/icons/9.png') }}" alt="" title="">
                        </div>
                        <div class="lower-content">
                            <h3>Touching Objects That Have Cough or Sneeze Droplets</h3>
                            <div class="text">Immersion along the information for highway will close the loop on focusing strategies to ensure proactive.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Experts Section-->

<!-- Hand Wash Process Section -->
<section class="hand-wash-process-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="title-icon">
                <span class="icon"><img src="{{ asset('assets/Front/images/icons/separater.png') }}" alt="" /></span>
            </div>
            <h2>Hand Wash Process</h2>
            <div class="text">Going forward new normal that has evolved from generation the runway heading streamlined cloud solution <br> user generated content in real-time will have multiple touchpoints for offshoring</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-1.png') }}" alt=""></div>
                    <h4>Water and Soap</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-2.png') }}" alt=""></div>
                    <h4>Palm to Palm</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-3.png') }}" alt=""></div>
                    <h4>Between Fingers</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-4.png') }}" alt=""></div>
                    <h4>Focus on Thumbs</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-5.png') }}" alt=""></div>
                    <h4>Back to Hands</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 process-block">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image"><img src="{{ asset('assets/Front/images/resource/process-6.png') }}" alt=""></div>
                    <h4>Focus on Wrist</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}