{% extends 'base.html.twig' %}

{% block title %}Specialty{% endblock %}

{% block body %}
<div class="card">
    <div class="header">
        <h4 class="title">Specialty</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialty.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ specialty.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ specialty.description }}</td>
            </tr>
        </tbody>
    </table>

    <div class=" footer container-fluid">
        <a href="{{ path('specialty_index')}}" class="btn btn-outline-dark dataTableLink btn-sm">Back to list</a>

       <a href="{{ path('specialty_edit', {'id': specialty.id}) }}" class="btn btn-outline-dark dataTableLink btn-sm">Edit</a>

       {{ include('specialty/_delete_form.html.twig') }}
       </div>
    </div>
</div>
{% endblock %}
